.movie-container {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .small-info {
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    .hover-info {
      :first-child {
        margin-bottom: 10px;
      }
      .hover-info-top {
        margin-bottom: 20px;
        font-size: 22px;
      }
    }

    button {
      margin-top: 20px;
    }
  }
}

.blur {
  opacity: 0.4;
}

.visible {
  opacity: 0;
}
